{% extends "blog/base.html" %}
{% load tailwind_filters %}
<!-- {% load crispy_forms_tags %} -->
{% block content%}
    <div class="content-section max-w-md mx-auto p-6 bg-white rounded-lg shadow-md list-disc pl-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-b mb-4 text-2xl font-semibold">Join Today</legend>
                {{ form|crispy }} 
            </fieldset>
            <div class="form-group mt-4">
                <button class="btn bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="border-t mt-6 pt-3">
            <small class="text-gray-600">
                Already Have An Account? <a class="ml-2 text-blue-500 hover:text-blue-700 transition duration-300" href="#">Sign In</a>
            </small>
        </div>
    </div> 
{%endblock content%}